

<ion-content>
  <ion-img src="../assets/Images/logo.PNG"></ion-img>


        <form class="ion-margin" #loginForm="ngForm" (ngSubmit)="getLogin(loginForm)" >
          <div id="sign-in-button"></div>
          <div class="ion-margin-vertical"></div>
          <ion-item lines="full">
            <ion-label position="floating" >Login</ion-label>
            <ion-input class="input1" type="text" name="login" ngModel></ion-input>
          </ion-item>
          <div class="ion-margin-vertical">
            <ion-item lines="full">
              <ion-icon
                [name]="type ? 'eye' : 'eye-off'"
                slot="end"
                color="dark"
                (click)="changeType()">
              </ion-icon>
          <ion-label position="floating">Mot de passe</ion-label>
          <ion-input type="password" name="motdepasse" ngModel></ion-input>
            </ion-item>
          </div>
          </form>
          <div class="ion-margin-horizontal">
            <ion-button
              class="ion-margin-horizontal"
              size="large"
              expand="block"
              shape="round"
              color="primary"
              (click)="onSubmit()">
              <ion-text>Login</ion-text>
            </ion-button>
            <ion-button
            class="ion-margin-horizontal"
             size="large"
             expand="block"
             shape="round"
             color="primary">
             <ion-spinner></ion-spinner>
           </ion-button>
          </div>
          <span>
            <ion-row style="color: black; margin-left: 20%;">
              <p >Pas de compte? <a routerLink="/inscription">Creer ici</a></p>
            </ion-row>
          </span>



</ion-content>


