.nomPlat{
  display: flex;
}
.btnIngredient{
  background-color: white;
  color: #000;
}

.entetePlat{
  display: flex;
}
.unIngredient{
  display: flex;
}
.commander{
  width: 50px;
 height: 50px;
}
.validercommande{
  border-radius: 50%;
  background-color: #000;
  color: white;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.valider{
  color: white;
  background-color: black;
}
.annuler{
  color: white;
  background-color: black;
}
