<mat-card style="background-color: rgb(255, 255, 255);border-radius: 30px;">
    <div>
        <h1 style="text-align: center;color: black;font-weight: bold;">Modifier Admin</h1>
        <form class="form">
            <div>
                <span>
               
                    <input type="text"  required placeholder="Nom">
                </span>
                <span>
                   
                    <input type="text"  required placeholder="Prenom">
                </span>
                <span>
                    
                    <input type="text"  required placeholder="Adresse">
                </span>
                <span>
                    <input type="number"  required placeholder="Tel">
                </span>
                <span>
                    <input type="email"  required placeholder="Email">
                </span>
                <span>
                    <input type="text"  required placeholder="Login">
                </span>
                <span>
                    
                    <input type="text"  required placeholder="Genre">
                </span>
                <span>
                    <label >Choisir Profil:</label>

                    <select name="" style="color: black;">
                        <option value="">--Choisir un profil--</option>
                        <option value="dog">admin</option>
                        <option value="cat">superAdmin</option>
                        
                    </select>
                </span>
            </div><br>
           
            <div>  
                <button type="submit" style="background-color: black; padding: 10px 50px;margin: 20px 120px;">Ajouter</button>
            </div>
        </form>
    </div>  

    
</mat-card>
