<ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="accueil">
        <ion-icon name="home"></ion-icon>
        <ion-label>Accueil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="categorie">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Categorie</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="panier">
        <ion-icon name="basket"></ion-icon>
        <ion-label>Panier</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profil">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
