<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mon Panier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
<!--les plats-->
  <span>
    <div class="unecommande">
      <ion-card>
        <ion-card>
          <ion-img src="../assets/Images/menudujour.jpg" style="height:50px;" class="ingredient"></ion-img>
        </ion-card>
        <div class="nom">
          3*2500
        </div>
        <div class="nom">
          7500
        </div>
        <ion-icon name="close-outline"></ion-icon>
        <ion-icon name="create-outline"></ion-icon>
      </ion-card>
      <ion-card>
        <ion-card>
          <ion-img src="../assets/Images/menudujour.jpg" style="height:50px;" class="ingredient"></ion-img>
        </ion-card>
        <div class="nom">
          3*2500
        </div>
        <div class="nom">
          7500
        </div>
        <ion-icon name="close-outline"></ion-icon>
        <ion-icon name="create-outline"></ion-icon>
      </ion-card>
    </div>
  </span>
  <span>
    <div class="unecommande">
      <ion-card>
        <ion-card>
          <ion-img src="../assets/Images/menudujour.jpg" style="height:50px;" class="ingredient"></ion-img>
        </ion-card>
        <div class="nom">
          3*2500
        </div>
        <div class="nom">
          7500
        </div>
        <ion-icon name="close-outline"></ion-icon>
        <ion-icon name="create-outline"></ion-icon>
      </ion-card>
      <ion-card>
        <ion-card>
          <ion-img src="../assets/Images/menudujour.jpg" style="height:50px;" class="ingredient"></ion-img>
        </ion-card>
        <div class="nom">
          3*2500
        </div>
        <div class="nom">
          7500
        </div>
        <ion-icon name="close-outline"></ion-icon>
        <ion-icon name="create-outline"></ion-icon>
      </ion-card>
    </div>
  </span>
    <div class="totale">
      <ion-card>
      <ion-card-header> Total</ion-card-header>
      <ion-card-content>30000</ion-card-content>
    </ion-card>
    </div>
  <div class="flex">
    <ion-button  shape="round" class="annuler" color="black" [routerLink]="['/tabs/tabs/tab1']">
      Annuler
    </ion-button>
    <ion-button  shape="round" class="valider" color="black" [routerLink]="['/valider-commande']">
      Valider
    </ion-button>
  </div>
</ion-content>
